.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.message {
  border: solid;
  border-radius: 15px;
  border-color: rgb(40, 54, 24, 0.7);
  background-color: rgb(233, 237, 201);
  padding: 10px;
  width: fit-content;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.input {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  border: solid rgb(40, 54, 24, 0.7);
  padding: 20px;
}

.input:focus {
  outline: 2px solid rgb(40, 54, 24, 0.5);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.image {
  width: 200px;
}

.gif {
  width: 100px;
}
.enterButton {
  background: none;
  border: none;
}
.spanBold {
  font-weight: bolder;
}
