.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  border: solid 1px;
  border-radius: 15px;
  padding-inline: 25px;

  background-color: rgb(254, 250, 224);
}

.laptopMenuIcon {
  margin-right: 10px;
  font-size: 24px;
}

.date {
  margin-right: 10px;
  font-weight: bold;
}

.time {
  font-weight: bold;
}
