.windowContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.windowContent {
  border: solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;

  height: 100%;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(204, 213, 174);
}
