.container {
  border: solid 1px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-block: 12px;
  padding-inline: 10px;

  background-color: rgb(254, 250, 224);
}

.windowBarLink {
  font-weight: 600;
  width: 200px; /* Fixed width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis;
}
