.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationContainerUp {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.educationContainerDown {
  display: flex;
  justify-content: space-around;
}

.education {
  text-align: center;
}

.timeLineContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.timeLine {
  flex: 1;
  height: 10px;
  border-radius: 50px;
  background-color: rgb(96, 108, 56);
}

.time {
  font-weight: bold;
}
