.container {
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--timeline-gap);
  overflow-y: scroll;
  overflow-x: hidden;
}

.timeLineItems {
  display: flex;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 10%;
  gap: var(--timeline-gap);
}

.jobCard {
  width: 45%;
  position: relative;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fadeInRight {
  transform: translateX(50%);
}

.fadeInLeft {
  transform: translateX(-50%);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
