.container {
  display: flex;
  flex-direction: column;
  gap: var(--timeline-gap);
  overflow-x: hidden;
}

.cardsContent {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.cardsLayout {
  display: flex;
}

.timelineWrapper {
  width: 10%;
}

.jobCardWrapper {
  width: 45%;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fadeInRight {
  transform: translateX(50%);
}

.fadeInLeft {
  transform: translateX(-50%);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
