.menuItemsContainer {
  padding-block: 20px;
}

.menuItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 60px;
  border-radius: 15px;
  background-color: rgb(233, 237, 201);
  padding-inline: 20px;
}

.menuItem:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.menuItemButton {
  background: none;
  border: none;
}
