.windowContainer {
  display: flex;
  flex-direction: column;
}

.windowContent {
  border: solid;
  border-top: none;

  height: 100%;
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(204, 213, 174);
}
