@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@400;700&family=Overpass_Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 234, 210;

  /* fonts*/
  --font-body: "Overpass Mono", sans-serif;
  --font-heading: "Trispace", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-heading);
  font-size: 40px;
}

h2 {
  font-family: var(--font-heading);
  font-size: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
