.main {
  display: grid;
  grid-template-rows: 40px auto;
  height: 100vh;
  gap: 1em;
  padding: 15px;
}

.windowsContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: inherit;
  overflow: hidden;
}

.shortcutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
