.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.cardContent {
  flex: 1;
}

.cardsContent {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
