.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.topWrapper {
  display: flex;
  gap: 25px;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.tasksWrapper {
  flex: 1;
}

.impressionWrapper {
  flex: 1;
}

.keyTakeawayWrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.placeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeSymbol {
  width: 70px;
}

.container button {
  background: none;
  border: none;
}

.container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.keyTakeawayWrapper h4 {
  font-style: italic;
  color: rgb(96, 108, 56);
  font-weight: lighter;
}

.keyTakeawayWrapper span {
  font-weight: bolder;
  font-size: 24px;
  color: rgb(96, 108, 56);
  margin-bottom: 0.3rem;
}

.impressionWrapper p {
  hyphens: auto;
}

.topContainer h2 {
  text-align: center;
}

.topContainer li {
  font-size: 18px;
}

.container p {
  font-size: 18px;
  text-align: justify;
}

.tasksWrapper ul.custom-list {
  list-style: none;
  padding-left: 20px;
}

.tasksWrapper .custom-list li {
  position: relative;
  padding-left: 20px;
}

.tasksWrapper ul.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(#clip0_287_693)'><path d='M5.23538 22.7892C4.54125 22.7892 3.87555 22.5448 3.38473 22.1096C2.89391 21.6745 2.61816 21.0843 2.61816 20.4689V5.00002C2.61816 4.38463 2.89391 3.79444 3.38473 3.3593C3.87555 2.92415 4.54125 2.67969 5.23538 2.67969H19.1938C19.4252 2.67969 19.6471 2.76118 19.8107 2.90622C19.9743 3.05127 20.0662 3.248 20.0662 3.45313C20.0662 3.65826 19.9743 3.85499 19.8107 4.00004C19.6471 4.14509 19.4252 4.22658 19.1938 4.22658H5.23538C5.004 4.22658 4.7821 4.30806 4.61849 4.45311C4.45489 4.59816 4.36297 4.79489 4.36297 5.00002V20.4689C4.36297 20.674 4.45489 20.8708 4.61849 21.0158C4.7821 21.1609 5.004 21.2423 5.23538 21.2423H22.6835C22.9148 21.2423 23.1367 21.1609 23.3003 21.0158C23.4639 20.8708 23.5559 20.674 23.5559 20.4689V12.7345C23.5559 12.5293 23.6478 12.3326 23.8114 12.1876C23.975 12.0425 24.1969 11.961 24.4283 11.961C24.6596 11.961 24.8815 12.0425 25.0451 12.1876C25.2087 12.3326 25.3007 12.5293 25.3007 12.7345V20.4689C25.3007 21.0843 25.0249 21.6745 24.5341 22.1096C24.0433 22.5448 23.3776 22.7892 22.6835 22.7892H5.23538Z' fill='#606C38'/><path d='M14.5752 16.3757L26.7889 5.54748C26.87 5.47557 26.9343 5.3902 26.9782 5.29624C27.0221 5.20229 27.0447 5.10158 27.0447 4.99989C27.0447 4.89819 27.0221 4.79748 26.9782 4.70353C26.9343 4.60957 26.87 4.5242 26.7889 4.45229C26.7077 4.38037 26.6114 4.32333 26.5055 4.28441C26.3995 4.24549 26.2859 4.22546 26.1712 4.22546C26.0565 4.22546 25.9429 4.24549 25.8369 4.28441C25.7309 4.32333 25.6346 4.38037 25.5535 4.45229L13.9575 14.7345L9.34078 10.6398C9.25967 10.5679 9.16337 10.5109 9.05739 10.472C8.95141 10.433 8.83783 10.413 8.72312 10.413C8.60841 10.413 8.49482 10.433 8.38884 10.472C8.28286 10.5109 8.18657 10.5679 8.10545 10.6398C8.02434 10.7118 7.96 10.7971 7.9161 10.8911C7.8722 10.985 7.84961 11.0857 7.84961 11.1874C7.84961 11.2891 7.8722 11.3898 7.9161 11.4838C7.96 11.5778 8.02434 11.6631 8.10545 11.735L13.3399 16.3757C13.4209 16.4477 13.5172 16.5049 13.6232 16.5439C13.7292 16.5829 13.8428 16.6029 13.9575 16.6029C14.0723 16.6029 14.1859 16.5829 14.2919 16.5439C14.3979 16.5049 14.4942 16.4477 14.5752 16.3757Z' fill='#606C38'/></g><defs><clipPath id='clip0_287_693'><rect width='27.9129' height='24.7502' fill='white' transform='translate(0 0.360474)'/></clipPath></defs></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
