.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: fit-content;
  background-color: rgb(233, 237, 201);
  border-radius: 15px;
  padding: 20px;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* 
.toolsContainer {
  width: 100%;
} */
