.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: inherit;
  overflow-y: scroll;
}

.container p {
  font-size: 18px;
}

.softSkillContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
