.container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
}

.educationContainerUp {
  display: flex;
  justify-content: space-around;
}

.educationContainerDown {
  display: flex;
  justify-content: space-around;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timeLineContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: left;
  }
  .education {
    flex-direction: row;
  }
  .education img {
    transform: rotate(90deg);
  }
  .timeLineContainer {
    flex-direction: column;
    align-items: center;
  }
  .timeLineDot {
    transform: rotate(90deg);
    width: 20px;
  }
  .educationContainerUp {
    flex-direction: column-reverse;
  }
  .educationContainerDown {
    flex-direction: column-reverse;
  }

  .education h2 {
    font-size: 20px;
  }

  .education h4 {
    font-size: smaller;
  }
}
