.menuItemsContainer {
  padding: 20px;
}

.menuItems {
  display: flex;
  align-items: center;

  height: 60px;
  border-radius: 15px;
  background-color: rgb(233, 237, 201);
  padding-inline: 20px;

  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.menuItem:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.menuItemButton {
  background: none;
  border: none;
  flex: 1;
}

.dropdownMenu {
  position: relative;
}
