.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  min-height: -webkit-fill-available;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: rgb(96, 108, 56);
  background-color: rgb(240, 240, 240);
  padding: 40px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.detail {
  font-size: 24px;
}

.locationIcon {
  color: rgb(96, 108, 56);
}

.locationName {
  font-size: 20px;
}

.logo {
  width: 200px;
}
