.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--timeline-gap);
}

.timelineContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  color: rgb(254, 250, 224);
  font-size: 26px;
  padding-inline: 30px;
}

.line {
  height: 5px;
  width: 100%;
  background-color: rgba(96, 108, 56);
}

.year {
  font-weight: bold;
  color: rgba(96, 108, 56);
}
